run = "poetry run python -m unittest"
modules = ["python-3.10:v25-20230920-d4ad2e4"]

# Specifies which nix channel to use when building the environment.
[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "python3 main.py"]
