aiohttp==3.7.3; python_version >= "3.6"
appdirs==1.4.4; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
async-timeout==3.0.1; python_full_version >= "3.5.3" and python_version >= "3.6"
attrs==20.3.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
beautifulsoup4==4.9.3; python_full_version >= "3.6.0"
bs4==0.0.1; python_full_version >= "3.6.0"
chardet==3.0.4; python_version >= "3.6"
click==7.1.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
cssselect==1.1.0; python_full_version >= "3.6.0"
fake-useragent==0.1.11; python_full_version >= "3.6.0"
flask==1.1.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
idna==3.1; python_version >= "3.6"
itsdangerous==1.1.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
jinja2==2.11.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
lxml==4.9.1; python_full_version >= "3.6.0"
markupsafe==1.1.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
multidict==5.1.0; python_version >= "3.6"
parse==1.19.0; python_full_version >= "3.6.0"
pyee==8.1.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pyppeteer==0.2.5; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pyquery==1.4.3; python_full_version >= "3.6.0"
requests-html==0.10.0; python_full_version >= "3.6.0"
requests==2.15.1; python_full_version >= "3.6.0"
six==1.15.0; python_full_version >= "3.6.0"
soupsieve==2.1; python_version >= "3.5" and python_full_version >= "3.6.0"
tqdm==4.56.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
typing-extensions==3.7.4.3
urllib3==1.26.2; python_full_version >= "3.6.1" and python_version < "4" and python_full_version < "4.0.0"
w3lib==1.22.0; python_full_version >= "3.6.0"
websockets==8.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
werkzeug==1.0.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
yarl==1.6.3; python_version >= "3.6"
sphinx_autodoc_typehints
alabaster
sphinx-click==2.7.1
